# Configs
config_local*

# Logs
logs
*.log

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
__pycache__

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Go
bin
src
pkg